asgiref==3.8.1
Django==5.0.7
django-appconf==1.0.6
django-compressor==4.5.1
django-crispy-forms==2.3
django-filter==24.2
django-htmx==1.18.0
pillow==10.4.0
python-decouple==3.8
rcssmin==1.1.2
rjsmin==1.2.2
sqlparse==0.5.1
typing_extensions==4.12.2
