{% extends "base.html" %} {% load static %} {% block content %}
<title>{{profile_user.display_name}}'s Profile</title>
<div class="content-container">
  <div class="profile">
    <img src="{% static 'img/profile-img.png' %}" alt="profile" />
    <div class="name">
      <p class="display-name">{{profile_user.display_name}}</p>
      <p class="username">@{{profile_user.username}}</p>
    </div>
  </div>
  <div>
    {% if profile_user != user %}
    <div id="follow-container" hx-target="this">
      {% include "partials/follow_button.html" %}
    </div>
    {% endif %}
    <div class="flex-gap">
      <p>Followers: <span id="follower-count" class="bold">{{ followers.count }}</span></p>
      <p>Following: <span id="following-count" class="bold">{{ following.count }}</span></p>
    </div>
    <ul id="following">
      {% for followed in following %}
      <li>
        <a href="{% url 'profile' followed.followed.username %}"
          >{{ followed.followed.username }}</a
        >
      </li>
      {% endfor %}
    </ul>
    <ul id="followers">
      {% for follower in followers %}
      <li>
        <a href="{% url 'profile' follower.follower.username %}"
          >{{ follower.follower.username }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
